@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Zen Kaku Gothic Antique", serif;
}
.App {
  text-align: center;
  width: 60%;
  height: 100vh;
  margin: auto;
}
.pokemonCardContainer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  place-items: center;
  margin-top: 20px;
}
.btn {
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.btn button {
  padding: 13px 32px;
  background-color: rgb(114, 67, 255);
  border: none;
  box-shadow: 0px 7px 20px -7px #777777;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  font-size: 1.2rem;
  transition: all .3s;
}
.btn button:hover {
  scale: .95;
  box-shadow: none;
}
.info {
  padding: 1.5rem;
  font-size: .8rem;
}
/* メディアクエリの追加 */
@media (max-width: 768px) {
  .App{
    width: 80%;
  }
  .pokemonCardContainer {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 480px) {
  .App{
    width: 95%;
  }
  .pokemonCardContainer {
    grid-template-columns: 1fr;
  }
}