@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Sawarabi Gothic", serif;
  /* color: #333; */
  color: #3f3f3f;

}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}